# Python stuff
**/__pycache__/

# No secrets
*.secret

# Logs
log/*

# No user files
storage/*.yaml
storage/media/*
storage/repos/*
!**/.keep

# No user config files
config.yaml
config/*.yaml

# No coverage
.coverage

# No Mac Stuff
.DS_Store