###########################
#         Janitor         #
#-------------------------#
#       Git Monitor       #
###########################

# Git Monitor
git_monitor:
  # [String] Where to store the info regarding the last known versions
  file: "storage/git_monitor.yaml"
  # [List] Repositories to monitor
  repositories:
    -
      # [String] Name of the project. Only used for displaying
      name: "My Great Project"
      # [String] URL of the project. Only used to link it when displaying
      url: https://github.com/MyUser/my-great-project
      # [List] of Strings that will be added to the message body as a list of Tags
      tags: ["#Python", "#library"]
      # [String] URL for the repository. Can be SSH or HTTPS,
      #   but may require extra authentication in your side.
      git: git@github.com:MyUser/my-great-project.git
      # [String] Where to find or to clone the repository
      path: "storage/repos/my-great-project"
      # [String] The related named account in `mastodon.yaml` used to publish
      named_account: "updates"
      # [String] Which monitoring method to use
      #   Possible values are: "changelog" or "commits".
      #   Defaults to "commits"
      monitoring_method: "changelog"
      # Parameters for monitoring
      params:
        # [String] Which file contains the changelog
        #   It is expected to be a Markdown file with:
        #   - The title of each update is the version
        #   - The body of each update is a list of changes
        # Note: Trying to support Common Changelog
        file: "CHANGELOG.md"
        # [List] List of strings as versions that we will exclude from analysing
        version_exceptions: []
        # [String] Separator used to split sections
        #   defaults to "\n## "
        section_separator: "\n## "
        # [String] Regex to extract the version from the section title
        # Note: backslashes need to be doubled
        #   defaults to "\\[(v[0-9]+\\.[0-9]+\\.[0-9]+)\\]"
        version_regex: "\\[(v[0-9]+\\.[0-9]+\\.[0-9]+)\\]"