###########################
#         Janitor         #
#-------------------------#
#        Schedules        #
###########################

# Manage the scheduling.
# Will be read by the scheduler (running every minute) to know what to do
schedules:
  - name: "Heartbeat"
    # crontab format: minute hour day-of-month month day-of-week
    when: "* * * * *"
    # [String] possible values: "sysinfo_local" | "sysinfo_remote" | "update_ddns" | "publish_git_changes"
    action: "sysinfo_local"