###########################
#         Janitor         #
#-------------------------#
#       System Info       #
###########################

# Sysntem Information config
system_info:
  # Levels above (greater than) which an alarm should be triggered
  # Make the name of the parameter equal to any of the metric names in SystemInfo
  thresholds:
    cpu_percent:
      # [Float] CPU percent
      value: 80.0
      # [String] MessageType in case of crossing: "none" | "info" | "warning" | "error" | "alarm"
      message_type: "warning"
    memory_percent:
      # [Float] Memory percent
      value: 80.0
      # [String] MessageType in case of crossing: "none" | "info" | "warning" | "error" | "alarm"
      message_type: "warning"
    disk_usage_percent:
      # [Float] Disk percent
      value: 80.0
      # [String] MessageType in case of crossing: "none" | "info" | "warning" | "error" | "alarm"
      message_type: "alarm"

# Formatting configs
formatting:
  # Related to the SystemInfo
  system_info:
    # A string that will be used to display the metric itself
    report_item_names_map:
      cpu_percent: "CPU %"
      cpu_count: "CPU count"
      memory_total: "Memory Total"
      memory_avail: "Memory Available"
      memory_used: "Memory Used"
      memory_free: "Memory Free"
      memory_percent: "Memory %"
      disk_usage_total: "Disk Total"
      disk_usage_used: "Disk Used"
      disk_usage_free: "Disk Free"
      disk_usage_percent: "Disk %"
    # [Bool] Making (or not) values human readable
    human_readable: True
    # [List[str]] List of metric names that won't apply the human_readable
    human_readable_exceptions: ["cpu_percent", "cpu_count", "memory_percent", "disk_usage_percent"]